1. Write a Python Program to Find the Factorial of a Number?

In [2]:
num = input('Enter a number : ');
num = int(num);
fact = 1 ;

for i in range(1,num+1):
    fact *= i ;

print('factorial of ',num,' is : ',fact);

Enter a number : 12
factorial of  12  is :  479001600

2. Write a Python Program to Display the multiplication Table?

In [4]:
num = input('Enter a number : ');
num = int(num);

print('The multiplication table of ',num,' is : ');

for i in range(1,11):
        print(num,'*',i,' = ',(num*i));

Enter a number : 2
The multiplication table of  2  is :
2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20

3. Write a Python Program to Print the Fibonacci sequence?

In [5]:
n = input('Enter how many fibinacci numbers : ');
n = int(n);

first = 1 ;
second = 1 ;

for i in range(1,n+1):
    print(first);
    
    third = first + second ;
    first = second ;
    second = third ;

Enter how many fibinacci numbers : 8
1
1
2
3
5
8
13
21

4. Write a Python Program to Check Armstrong Number?

In [15]:
num = input('Enter the number : ');
n = len(num) ;
num = int(num);
temp = num ;
sum = 0;

while(temp > 0):
      
      digit = temp % 10 ;
      temp = int(temp / 10) ;
      sum += digit ** n ;  

if(sum == num):
   print(num,' is a amstrong number');
else:
   print(num,' is not a amstrong number');

Enter the number : 663
663  is not a amstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [17]:
start = input('Enter the start number : ');
end = input('Enter the end number : ');

def find_Armstrong_number(num):
    n = len(str(num)) ;
    temp = num ;
    sum = 0;

    while(temp > 0):
          digit = temp % 10 ;
          temp = int(temp / 10) ;
          sum += digit ** n ;  

    if(sum == num):
       print(num);
    
for i in range(int(start),int(end)+1):
    find_Armstrong_number(i) ;

Enter the start number : 400
Enter the end number : 410
407

6. Write a Python Program to Find the Sum of Natural Numbers?

In [18]:
n = input('Enter the range : ');
n = int(n);
sum = 0 ;
    
for i in range(1,n):
    sum += i ;

print('the sum of natural numbers from 1 to ',n,' = ',sum) ;

Enter the range : 10
the sum of natural numbers from 1 to  10  =  45