1. Write a Python program to convert kilometers to miles?

In [1]:
kilo_value = input('enter the kilometers value : ') ;
print('the corresponding miles value : ',(float(kilo_value)/1.609344)) ;

enter the kilometers value : 1
the corresponding miles value :  0.621371192237334

2. Write a Python program to convert Celsius to Fahrenheit?

In [2]:
C = input('enter the celcius value : ') ;
print('the corresponding fahrenheit value : ',( (float(C) * 9) / 5) + 32 ) ;

enter the celcius value : 32.5
the corresponding fahrenheit value :  90.5

3. Write a Python program to display calendar?

In [8]:
import calendar
 
y = input('enter the year : ') ; 
print(calendar.calendar(int(y))) ;

enter the year : 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

4. Write a Python program to solve quadratic equation?

In [12]:
import math

a = input('a : ') ;
b = input('b : ') ;
c = input('c : ') ;
a = int(a) ; b = int(b) ; c = int(c) ;

if(a == 0):
  print('enter correct quadratic equation') ;
else:
  val = (b ** 2) - (4 * a * c ) ;
  sqrt_val = math.sqrt(val) ;

  if(val == 0):
    print(" the roots are real,same and value : ", (-b / (2 * a)) ) ; 
  elif(val > 0):
    print(" the roots are real,different and values are : ", ( (-b + sqrt_val) / (2 * a)) , ' and ', ( (-b-sqrt_val) / (2 * a)) ) ;
  else:
    print("the roots are complex,different and values are : ", (- b / (2 * a)), " + j", sqrt_val ,' and ', (- b / (2 * a) ), " - j", sqrt_val ) ;

a : 1
b : 4
c : 2
 the roots are real,different and values are :  -0.5857864376269049  and  -3.414213562373095

5. Write a Python program to swap two variables without temp variable?

In [13]:
x = input('enter var-1 : ') ;
y = input('enter var-2 : ') ;

x,y = y,x ;

print('var-1 : ',x);
print('var-2 : ',y);

enter var-1 : 5
enter var-2 : 10
var-1 :  10
var-2 :  5